/* Used flexbox methd to center */
html{
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
/* removes blue outline */
*{
    outline: none;
}
/* makes the div look like a circle */
.circle{
    height: 500px;
    width: 500px;
    border-radius: 100%;
    background-color: black;
    text-align: center;
    color: white;
}
/* add style to button */
button{
    margin-top: 5%;
    height: 50px;
    width: 100px;
    background: none;
    color: inherit;
    border: 1px white solid;
    border-radius: 15%;
    text-align: center;
    font-weight: bold;
}
/* make button change color on hover */
button:hover{
    background: white;
    color: black;
}
/* centers text in the circle */
.Text{
    position: relative;
    padding-top: 40%;
    font-size: 50px;
    color: inherit;
}